*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-colour: #060a1a;
}

body{
    background-color: var(--background-colour);
}

.container{
    padding: 80px;
}

img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 30px;
    border: 5px solid #fff;
    opacity: 0.8;
}

/* img:hover{
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.5s ease;
    cursor: pointer;
} */