@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,500;1,400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* --background-colour: #060a1a; */
    --background-colour: #2a2a2a;
}

body{
    background-color: var(--background-colour);
}

.container{
    padding: 150px 250px;
    width: 100%;
}

 .item{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 35px;
}

img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    opacity: 0.5;
}

.message-area{
    background-color: #333333;
    color: white;
    height: 250px;
    padding: 40px;

    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

h3{
    font-family: 'Asap Condensed', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
}